<div class="w-full bg-freelancers-dark-blue">
  <nav
    class="container relative mx-auto flex flex-wrap items-center justify-between px-8 lg:justify-between xl:px-0"
  >
    <div class="flex w-full flex-wrap items-center justify-between lg:w-auto">
      <a href="/"
        ><span
          ><img
            alt="Logotipo da freelancer"
            loading="lazy"
            width="200"
            height="200"
            decoding="async"
            data-nimg="1"
            class="w-100"
            style="color: transparent"
            src="/assets/logo.svg" /></span></a
      ><button
        aria-label="Toggle Menu"
        class="ml-auto rounded-md px-2 py-1 text-freelancers-dark-orange focus:outline-none lg:hidden"
        id="headlessui-disclosure-button-:R4hlla:"
        type="button"
        aria-expanded="false"
        data-headlessui-state=""
      >
        <svg
          class="h-6 w-6 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
          ></path>
        </svg>
      </button>
    </div>
    <div class="hidden text-center lg:flex lg:items-center">
      <ul
        class="flex-1 list-none items-center justify-end pt-6 lg:flex lg:pt-0"
      >
        <li class="nav__item mr-3">
          <a
            class="inline-block rounded-md px-4 py-2 text-lg font-normal text-freelancers-white-background no-underline hover:text-freelancers-dark-orange focus:outline-none"
            href="#about"
            >Sobre</a
          >
        </li>
        <li class="nav__item mr-3">
          <a
            class="inline-block rounded-md px-4 py-2 text-lg font-normal text-freelancers-white-background no-underline hover:text-freelancers-dark-orange focus:outline-none"
            href="#categories"
            >Categorias</a
          >
        </li>
      </ul>
    </div>
    <div class="nav__item mr-3 hidden space-x-4 lg:flex">
      <a
        class="rounded-md bg-freelancers-light-orange px-6 py-2 text-freelancers-white-background hover:bg-freelancers-dark-orange md:ml-5"
        href="/login"
        >Entrar como candidato</a
      >
    </div>
  </nav>
</div>
