<%= render partial: 'home/navbar' %>
<section class="w-full bg-freelancers-dark-blue">
  <div class="container mx-auto p-8 xl:px-0 flex flex-wrap" id="about">
    <div class="flex w-full items-center lg:w-1/2">
      <div class="mb-8 max-w-2xl">
        <h1
          class="text-4xl font-bold leading-snug tracking-tight text-freelancers-white-background lg:text-4xl lg:leading-tight xl:text-6xl xl:leading-tight"
        >
          Descubra talentos excepcionais que impulsionarão o crescimento da sua
          empresa.
        </h1>
        <p
          class="py-5 text-xl leading-normal text-freelancers-white-background lg:text-xl xl:text-2xl"
        >
          Otimize o seu recrutamento e alcance novos patamares de sucesso
          empresarial ao reunir os melhores profissionais para o seu
          empreendimento.
        </p>
        <div
          class="flex flex-col items-start space-y-3 sm:flex-row sm:items-center sm:space-x-4 sm:space-y-0"
        >
          <a
            class="rounded-md bg-freelancers-light-orange px-8 py-4 text-center text-lg font-medium text-white"
            href="/requisitar-profissional"
            >Solicitar profissionais</a
          >
        </div>
      </div>
    </div>
    <div class="flex w-full items-center justify-center lg:w-1/2">
      <div class="">
        <img
          alt="Hero Illustration"
          loading="eager"
          width="616"
          height="617"
          decoding="async"
          data-nimg="1"
          class="object-cover"
          style="color: transparent"
          src="/assets/Website-1.2.1.png"
        />
      </div>
    </div>
  </div>
</section>
<div
  class="container mx-auto p-8 xl:px-0 mt-4 flex w-full flex-col items-center justify-center text-center"
  id="about"
>
  <h2
    class="mt-3 max-w-2xl text-3xl font-bold leading-snug tracking-tight text-freelancers-dark-text lg:text-4xl lg:leading-tight"
  >
    Bem-vindo à Plataforma Freelancers!
  </h2>
</div>
<div
  class="container mx-auto p-8 xl:px-0 mb-10 flex flex-wrap lg:flex-nowrap lg:gap-10"
  id="about"
>
  <div class="flex w-full items-center justify-center lg:w-1/2">
    <div>
      <img
        alt="Benefits"
        loading="lazy"
        width="521"
        height="522"
        decoding="async"
        data-nimg="1"
        class="object-cover"
        style="color: transparent"
        src="/assets/humans-ilustrations/Humaaans-3-Characters.svg"
      />
    </div>
  </div>
  <div class="flex w-full flex-wrap items-center lg:w-1/2">
    <div>
      <div class="mt-4 flex w-full flex-col">
        <h3
          class="mt-3 max-w-2xl text-3xl font-bold leading-snug tracking-tight text-freelancers-dark-text lg:text-4xl lg:leading-tight"
        >
          A plataforma Freelancers
        </h3>
        <p
          class="max-w-2xl py-4 text-lg leading-normal text-freelancers-paragraph lg:text-xl xl:text-xl"
        >
          É um serviço especializado na interconexão de profissionais e
          empresas, fornecendo soluções eficientes e personalizadas para atender
          as necessidades e interesses mútuos entre os clientes e fornecedores
          na realização e execução de serviços.
        </p>
      </div>
      <div class="mt-5 w-full">
        <div class="mt-8 flex items-start space-x-3">
          <div
            class="mt-1 flex h-11 w-11 flex-shrink-0 items-center justify-center rounded-md bg-freelancers-light-orange text-white"
          >
            <img
              alt="ícone de Nossa missão"
              loading="lazy"
              width="32"
              height="32"
              decoding="async"
              data-nimg="1"
              src="/assets/values-icons/mission.png"
            />
          </div>
          <div>
            <h4 class="text-xl font-medium text-freelancers-dark-text">
              Nossa missão
            </h4>
            <p class="mt-1 text-freelancers-paragraph">
              É conectar formadores a instituições de ensino, e profissionais a
              empresas de forma ética e transparente. Nosso objetivo é facilitar
              a promoção de negócios, oferecendo soluções eficientes e
              personalizadas que contribuam para o crescimento e sucesso dos
              nossos clientes e fornecedores.
            </p>
          </div>
        </div>
        <div class="mt-8 flex items-start space-x-3">
          <div
            class="mt-1 flex h-11 w-11 flex-shrink-0 items-center justify-center rounded-md bg-freelancers-light-orange text-white"
          >
            <img
              alt="ícone de Nossa visão"
              loading="lazy"
              width="32"
              height="32"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="/assets/values-icons/shared-vision.png"
            />
          </div>
          <div>
            <h4 class="text-xl font-medium text-freelancers-dark-text">
              Nossa visão
            </h4>
            <p class="mt-1 text-freelancers-paragraph">
              É ser a líder nacional em intermediação de profissionais e
              empresas, oferecendo soluções personalizadas que promovam o
              crescimento sustentável e o sucesso dos nossos clientes e
              fornecedores.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container mx-auto p-8 xl:px-0 mb-10 flex flex-wrap lg:flex-nowrap lg:gap-10"
  id="about"
>
  <div class="flex w-full items-center justify-center lg:w-1/2 lg:order-1">
    <div>
      <img
        alt="Benefits"
        loading="lazy"
        width="521"
        height="522"
        decoding="async"
        data-nimg="1"
        class="object-cover"
        style="color: transparent"
        src="/assets/humans-ilustrations/Humaaans-1-Character.svg"
      />
    </div>
  </div>
  <div class="flex w-full flex-wrap items-center lg:w-1/2">
    <div>
      <div class="mt-4 flex w-full flex-col">
        <h3
          class="mt-3 max-w-2xl text-3xl font-bold leading-snug tracking-tight text-freelancers-dark-text lg:text-4xl lg:leading-tight"
        >
          Os valores que nos guiam
        </h3>
        <p
          class="max-w-2xl py-4 text-lg leading-normal text-freelancers-paragraph lg:text-xl xl:text-xl"
        >
          Nosso objectivo é fornecer uma plataforma onde profissionais de várias
          áreas podem se conectar com empresas ou particulares que vejam valor
          nos seus serviços.
        </p>
      </div>
      <div class="mt-5 w-full">
        <div class="mt-8 flex items-start space-x-3">
          <div
            class="mt-1 flex h-11 w-11 flex-shrink-0 items-center justify-center rounded-md bg-freelancers-light-orange text-white"
          >
            <img
              alt="ícone de Ética"
              loading="lazy"
              width="32"
              height="32"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="/assets/values-icons/world.png"
            />
          </div>
          <div>
            <h4 class="text-xl font-medium text-freelancers-dark-text">
              Ética
            </h4>
            <p class="mt-1 text-freelancers-paragraph">
              Conduzimos nossos negócios com integridade e transparência,
              garantindo relações de confiança entre clientes e fornecedores
            </p>
          </div>
        </div>
        <div class="mt-8 flex items-start space-x-3">
          <div
            class="mt-1 flex h-11 w-11 flex-shrink-0 items-center justify-center rounded-md bg-freelancers-light-orange text-white"
          >
            <img
              alt="ícone de Excelência"
              loading="lazy"
              width="32"
              height="32"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="/assets/values-icons/excellence.png"
            />
          </div>
          <div>
            <h4 class="text-xl font-medium text-freelancers-dark-text">
              Excelência
            </h4>
            <p class="mt-1 text-freelancers-paragraph">
              Comprometemo-nos a fornecer serviços de alta qualidade, buscando
              sempre a melhoria contínua e a inovação.
            </p>
          </div>
        </div>
        <div class="mt-8 flex items-start space-x-3">
          <div
            class="mt-1 flex h-11 w-11 flex-shrink-0 items-center justify-center rounded-md bg-freelancers-light-orange text-white"
          >
            <img
              alt="ícone de Personalização"
              loading="lazy"
              width="32"
              height="32"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="/assets/values-icons/personalization.png"
            />
          </div>
          <div>
            <h4 class="text-xl font-medium text-freelancers-dark-text">
              Personalização
            </h4>
            <p class="mt-1 text-freelancers-paragraph">
              Valorizamos as necessidades únicas de cada cliente e fornecedor,
              oferecendo soluções sob medida para cada desafio.
            </p>
          </div>
        </div>
        <div class="mt-8 flex items-start space-x-3">
          <div
            class="mt-1 flex h-11 w-11 flex-shrink-0 items-center justify-center rounded-md bg-freelancers-light-orange text-white"
          >
            <img
              alt="ícone de Colaboração"
              loading="lazy"
              width="32"
              height="32"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="/assets/values-icons/collaboration.png"
            />
          </div>
          <div>
            <h4 class="text-xl font-medium text-freelancers-dark-text">
              Colaboração
            </h4>
            <p class="mt-1 text-freelancers-paragraph">
              Promovemos um ambiente de cooperação e parceria, acreditando que o
              sucesso é construído juntos.
            </p>
          </div>
        </div>
        <div class="mt-8 flex items-start space-x-3">
          <div
            class="mt-1 flex h-11 w-11 flex-shrink-0 items-center justify-center rounded-md bg-freelancers-light-orange text-white"
          >
            <img
              alt="ícone de Sustentabilidade"
              loading="lazy"
              width="32"
              height="32"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="/assets/values-icons/engagement.png"
            />
          </div>
          <div>
            <h4 class="text-xl font-medium text-freelancers-dark-text">
              Sustentabilidade
            </h4>
            <p class="mt-1 text-freelancers-paragraph">
              Atuamos com responsabilidade social e ambiental, visando o
              crescimento sustentável e o bem-estar das comunidades em que
              operamos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- swiper -->
<div class="swiper relative" data-controller="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
<div
  class="container mx-auto p-8 xl:px-0 mt-4 flex w-full flex-col items-center justify-center text-center"
  id="about"
>
  <div
    class="text-sm font-bold uppercase tracking-wider text-freelancers-dark-orange"
  >
    Testemunhos
  </div>
  <h2
    class="mt-3 max-w-2xl text-3xl font-bold leading-snug tracking-tight text-freelancers-dark-text lg:text-4xl lg:leading-tight"
  >
    O que nossos clientes e usuários acham da nossa plataforma
  </h2>
</div>
<div class="container mx-auto p-8 xl:px-0" id="about">
  <div class="grid gap-10 lg:grid-cols-2 xl:grid-cols-3">
    <div class="">
      <div
        class="dark:bg-trueGray-800 flex h-full w-full flex-col justify-between rounded-2xl bg-gray-100 px-14 py-14"
      >
        <p class="text-xl leading-normal">
          Desde que me registrei na Freelancers, minha carreira deu um salto
          gigantesco. Antes, eu dependia muito de indicações e redes sociais
          para conseguir clientes, mas agora tenho um fluxo constante de
          projetos. A plataforma não só me conecta com clientes que valorizam
          meu trabalho, mas também oferece ferramentas incríveis para gerenciar
          meus projetos e pagamentos. Recomendo a todos os profissionais que
          querem crescer e se destacar no mercado!
        </p>
        <div class="mt-8 flex items-center space-x-3">
          <div>
            <img
              alt="Avatar"
              loading="lazy"
              width="40"
              height="40"
              decoding="async"
              data-nimg="1"
              class="overflow-hidden rounded-full border"
              style="color: transparent"
              src="/assets/testimonials/user_1.png"
            />
          </div>
          <div>
            <div class="text-lg font-medium">Ana Souza</div>
            <div class="text-gray-600 dark:text-gray-400">Contabilista</div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div
        class="dark:bg-trueGray-800 flex h-full w-full flex-col justify-between rounded-2xl bg-gray-100 px-14 py-14"
      >
        <p class="text-xl leading-normal">
          Contratar através da Freelancers foi uma das melhores decisões que
          nossa empresa tomou. Precisávamos de desenvolvedores altamente
          qualificados para um projeto urgente, e a plataforma nos conectou com
          profissionais excepcionais em questão de dias. A interface é intuitiva
          e o processo de seleção é muito eficiente, nos permitindo encontrar
          rapidamente os talentos certos. Estamos extremamente satisfeitos com a
          qualidade dos profissionais e com o suporte oferecido pela plataforma.
        </p>
        <div class="mt-8 flex items-center space-x-3">
          <div>
            <img
              alt="Avatar"
              loading="lazy"
              width="40"
              height="40"
              decoding="async"
              data-nimg="1"
              class="overflow-hidden rounded-full border"
              style="color: transparent"
              src="/assets/testimonials/user_2.png"
            />
          </div>
          <div>
            <div class="text-lg font-medium">Roberto Lima</div>
            <div class="text-gray-600 dark:text-gray-400">Tech Solutions</div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div
        class="dark:bg-trueGray-800 flex h-full w-full flex-col justify-between rounded-2xl bg-gray-100 px-14 py-14"
      >
        <p class="text-xl leading-normal">
          Eu estava procurando um advogado de confiança para alguns reparos em
          casa e, depois de várias tentativas frustradas com outras plataformas,
          encontrei a Freelancers. Foi uma experiência transformadora! Em poucos
          cliques, encontrei vários profissionais com excelentes avaliações. O
          profissional que escolhi foi pontual, educado e fez um trabalho
          impecável. Agora, sempre que preciso de qualquer serviço, sei que
          posso contar com a Freelancers melhores prestadores de serviços.
        </p>
        <div class="mt-8 flex items-center space-x-3">
          <div>
            <img
              alt="Avatar"
              loading="lazy"
              width="40"
              height="40"
              decoding="async"
              data-nimg="1"
              class="overflow-hidden rounded-full border"
              style="color: transparent"
              src="/assets/testimonials/user_3.png"
            />
          </div>
          <div>
            <div class="text-lg font-medium">Maria Fernandes</div>
            <div class="text-gray-600 dark:text-gray-400">Particular</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container mx-auto p-8 xl:px-0 mt-4 flex w-full flex-col items-center justify-center text-center"
  id="about"
>
  <div
    class="text-sm font-bold uppercase tracking-wider text-freelancers-dark-orange"
  >
    FAQ
  </div>
  <h2
    class="mt-3 max-w-2xl text-3xl font-bold leading-snug tracking-tight text-freelancers-dark-text lg:text-4xl lg:leading-tight"
  >
    Perguntas Frequentes
  </h2>
</div>
<div class="container mx-auto p-8 xl:px-0 !p-0" id="about">
  <div class="mx-auto w-full max-w-2xl rounded-2xl p-2">
    <% get_faq.each do |question_answer| %>
    <div class="mb-5">
      <button
        class="dark:bg-trueGray-800 flex w-full items-center justify-between rounded-lg bg-white px-4 py-4 text-left text-lg text-freelancers-dark-text focus:outline-none focus-visible:ring focus-visible:ring-opacity-75"
        id="headlessui-disclosure-button-:R4qlla:"
        type="button"
        aria-expanded="true"
        data-headlessui-state="open"
        aria-controls="headlessui-disclosure-panel-:R8qlla:"
      >
        <span><%= question_answer[:question] %></span
        ><span
          role="img"
          aria-label="up"
          class="anticon anticon-up rotate-180 transform h-5 w-5 text-freelancers-dark-text transition-transform duration-300 ease-in"
          ><svg
            viewBox="64 64 896 896"
            focusable="false"
            data-icon="up"
            width="1em"
            height="1em"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M890.5 755.3L537.9 269.2c-12.8-17.6-39-17.6-51.7 0L133.5 755.3A8 8 0 00140 768h75c5.1 0 9.9-2.5 12.9-6.6L512 369.8l284.1 391.6c3 4.1 7.8 6.6 12.9 6.6h75c6.5 0 10.3-7.4 6.5-12.7z"
            ></path></svg
        ></span>
      </button>
      <div
        class="animate-slidein px-4 pb-2 pt-4 text-freelancers-paragraph"
        id="headlessui-disclosure-panel-:R8qlla:"
        data-headlessui-state="open"
      >
        <%= question_answer[:answer]%>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="container mx-auto p-8 xl:px-0" id="about">
  <div
    class="mx-auto flex w-full max-w-4xl flex-wrap items-center justify-between gap-5 rounded-xl bg-freelancers-light-orange px-7 py-7 text-freelancers-white-background lg:flex-nowrap lg:px-12 lg:py-12"
  >
    <div class="flex-grow text-center lg:text-left">
      <h2 class="text-2xl font-medium lg:text-3xl">
        Conquiste seu futuro profissional agora!
      </h2>
      <p class="mt-2 font-medium text-white text-opacity-90 lg:text-xl">
        Nossa plataforma conecta você a oportunidades exclusivas de trabalho.
      </p>
    </div>
    <div class="w-full flex-shrink-0 text-center lg:w-auto">
      <a
        class="mx-auto inline-block rounded-md bg-freelancers-white-background px-7 py-3 text-center text-lg font-medium text-freelancers-dark-text transition-colors duration-75 ease-in hover:bg-freelancers-dark-blue hover:text-white lg:px-10 lg:py-5"
        href="/login"
        >Entrar como candidato</a
      >
    </div>
  </div>
</div>
